@page "/createaccount"
@inject HttpClient Http

<PageTitle>Create Account</PageTitle>

<heading>Welcome, Please Create Your Account</heading>
<Container>
    <Row>
        <Column>
            <Field>
                <FieldLabel>First Name</FieldLabel>
                <Validation Validator="ValidationRule.IsNotEmpty">
                    <TextEdit Placeholder="Enter name">
                        <Feedback>
                            <ValidationNone>Please enter the name.</ValidationNone>
                            <ValidationSuccess>Name is good.</ValidationSuccess>
                            <ValidationError>Enter valid name!</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
            </Field>
            <Field>
                <FieldLabel>Email address</FieldLabel>
                <Validation Validator="ValidateEmail">
                    <TextEdit Placeholder="Enter email">
                        <Feedback>
                            <ValidationNone>Please enter the email.</ValidationNone>
                            <ValidationSuccess>Email is good.</ValidationSuccess>
                            <ValidationError>Enter valid email!</ValidationError>
                        </Feedback>
                    </TextEdit>
                </Validation>
            </Field>
            <Field>
                <FieldLabel>Password</FieldLabel>
                <TextEdit Placeholder="Enter password" />
            </Field>
            <Check TValue="bool" @bind-Checked="@rememberMe">Remember Me</Check>
            <Divider />
            <Button Color="Color.Primary">Create Account</Button>
        </Column>
    </Row>
</Container>

@code{
    bool rememberMe;
    void ValidateEmail(ValidatorEventArgs e)
    {
        var email = Convert.ToString(e.Value);

        e.Status = string.IsNullOrEmpty(email) ? ValidationStatus.None :
            email.Contains("@") ? ValidationStatus.Success : ValidationStatus.Error;
    }

}